*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.guess-box {
    font-family: 'Permanent Marker';
    width: 500px;
    padding: 50px;
    border: 10px solid black;
    border-radius: 5px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }
.guess-box h1{
    font-family: 'Permanent Marker';
}
img {
    display: center;
    transition: transform .7s ease-in-out;
}
img:hover {
    transform: rotate(360deg);
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

#explanation {
    color: white;
}

.btn-dark:hover {background-color: #3e8e41}

.btn-dark:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-info:hover {background-color: #3e8e41}

.btn-info:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

